body {
    background-color: black;
  }
  
  .nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
  }
  
  a.navlink {
    text-decoration: none;
    font-weight: normal;
    font-family: Arial;
    color: pink;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .logo {
    display: flex;
    margin: 0 auto;
    color: pink;
    display: flex;
    justify-content: center;
  }
  
  .button-1 {
    padding: 10px;
    background-color: yellow;
    color: black;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
  }
  
  .button-2 {
    padding: 10px;
    background-color: yellow;
    color: black;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
  }
  
  .container {
    margin-top: 100px;
    display: grid;
    gap: 1rem;
  }


  button {
    padding: 10px;
    background-color: yellow;
    color: black;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  

  img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
    width: 25%;
    height: 100%;
  }

  @media (min-width: 250px) and (max-width: 649px) {
img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

  }